body {
    font-family: 'Nunito', sans-serif;
    margin: auto;
    width: 60%;
    padding: 10px;
}
button {
  margin-left: 190px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
  padding: 20px;
  border-radius: 8px;
}
table {
border-collapse: collapse;
}
